html, body {
  height: 100%;
  font-family: monospace;
}

.invisible {
  visibility: visible;
}

#task-list {
  text-align: center;
  visibility: collapse;
  display: grid;
  min-width: 550px;
  max-width: 900px;
}

#task-list > * > tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: .5em;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #6c7ae0;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

tr:nth-child(even) {
  background: #f8f6ff;
}

.task-button {
  grid-column-start: -2;
  grid-column-end: -1;
}

#task-form {
  cursor: move;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: none;
  line-height: 2;
  text-align: center;
  border: 1px solid;
  background: #6c7aa0;
  z-index: 2;
}

form > div.half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

form > * > textarea {
  width: 370px;
  height: 100px;
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: 0.5;
    left :0;
    top :0;
}

input.descr {
  text-align: left;
  height: 10rem;
}

input[type="datetime-local"] {
  max: "9999-12-31T23:59";
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
