<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Дела</title>
  <script src="js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<p th:text="${customParam}"></p>
<h1>Дела (<span th:text="${tasksCount}">0</span>)</h1>
<button id="add-task">Добавить</button>
<table id="task-list" th:attrappend="style=${tasksCount > 0}?'visibility:visible'">
  <thead>
  <tr>
    <th>Описание</th>
    <th>Начать</th>
    <th>Важность</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}" th:attr="data-id=${task.id}">
    <td>
      <a class="name" th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.name}"></a>
      <a href="#" class="tooltip">
        ?<span class="tooltiptext description" th:text="${task.description}">
            </span>
      </a>
    </td>
    <td>
      <span class="startDate" th:text="${#strings.replace(task.startDate,'T',' ')}"></span>
    </td>
    <td>
      <span class="urgency" th:text="${task.urgency}"></span>
    </td>
    <td class="task-button">
      <button class="show-task-form">Правка</button>
      <button class="remove-task">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
<div id="task-form" data-action="add">
  <form>
    <h2>Добавление</h2>
    <div class="half">
      <label>Название</label>
      <input type="text" name="name" value="">
    </div>
    <div class="half">
      <label>Начать</label>
      <input type="datetime-local" name="startDate" value="">
    </div>
    <div class="half">
      <label>Важность</label>
      <select name="urgency">
        <option value="LOW">low</option>
        <option value="MEDIUM">medium</option>
        <option value="HIGH">high</option>
      </select>
    </div>
    <div>
      <textarea name="description" maxlength="512"></textarea>
    </div>
    <button id="save-task">Сохранить</button>
  </form>
</div>
<script src="js/main.js"></script>
</body>
</html>
